.missing img {
  /*filter: blur(5px) grayscale(100%);*/
  display: none;
}

.unknown img {
  /*filter: grayscale(100%);*/
}

.hide-shields .ohana-shield {
  display: none !important;
}

.ohana-shield {
  position: absolute !important;
  filter: none !important;
  display: block !important;
  bottom: 5px;
  right: 5px;

  /*alex*/
  width: 22px !important;
  height: 22px !important;
  border-radius: 50% !important;
  padding: 4px !important;
  background-color: white !important;
  /*alex*/
}

/* ohana plot description text */
#fc-plot {
  position: fixed;
  bottom: 25%;
  left: 15%;
  width: 70%;
  background-color: black;
  z-index: 2147483647;
  color: white;
  font-size: 20px;
  text-align: center;
}
/*
.fc-active #fc-plot {
  left: 10%;
  width: calc(80% - 320px) !important;
}*/

/* Hide HBO loading spinner (gives a weird feeling) */
.vjs-loading-spinner {
  visibility: hidden;
}

.fc-hidden-thumbnail .tmp_thumbnail {
  display: none;
}

/***************************/
/*       Side bar          */
/***************************/

/* Push page to the left side */
.fc-active #app_body_content:not(:fullscreen) #hudson-wrapper, /* disneyplus */
.fc-active .sizing-wrapper,
.fc-active .app-container > div,
.fc-active ytd-masthead, /* youtube header */
.fc-active #object-player-multidrm /* movistarplus */
 {
  right: 320px !important;
  width: calc(100% - 320px) !important;
}
.fc-active #object-player-multidrm .cont-controls /* movistarplus */
 {
  left: 0px !important;
  width: calc(100vw - 360px) !important;
}

/* Style iframe */
.fc-active #fc-iframe {
  position: fixed;
  top: 0;
  right: 0;
  display: block !important;
  border: none;
  width: 320px;
  height: 100%;
  z-index: 2147483647;
}
